<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="theme.css" />
    <link rel="script" href="../validations.js" />
    <link
      rel="stylesheet"
      href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"
    />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <button disabled="disabled" class="kitcy-button" title="Buy">
      Buy the Button
    </button>

    <div data-role="page">
      <div data-role="content">
        <h1>This is my content</h1>
      </div>

      <div
        data-role="footer"
        data-position="fixed"
        data-tap-toggle="false"
        class="bottom-navbar"
      >
        <div data-role="navbar">
          <ul>
            <li>
              <a href="#one" class="bottom-navbar" data-icon="custom">Entry</a>
            </li>
            <li><a href="#two" data-icon="custom">Winner</a></li>
            <li><a href="#three" data-icon="custom">Gallery</a></li>
          </ul>
        </div>
        <!-- /navbar -->
      </div>
    </div>
  </body>
</html>
