<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="maps.css" />
    <link rel="script" href="../validations.js" />
    <link
      rel="stylesheet"
      href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"
    />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div data-role="page" id="map-page" data-url="map-page">
      <div data-role="header" data-theme="a">
        <h1>Maps</h1>
      </div>
      <div role="main" class="ui-content" id="map-canvas"></div>
    </div>
  </body>
</html>
