@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500&display=swap");

:root {
  --primary-colour: #069c54;
  --secondary-colour: #ffcf27;
  --text-colour: #585858;
  --font-style: "Poppins", sans-serif;
}

.heading1 {
  font-size: 24px;
  color: var(--text-colour);
  font-style: var(--font-style);
}

.heading2 {
  font-size: 16px;
  color: var(--text-colour);
  font-style: var(--font-style);
}

.heading3 {
  font-size: 13px;
  color: var(--text-colour);
  font-style: var(--font-style);
}

.para {
  font-size: 14px;
  color: var(--text-colour);
  font-style: var(--font-style);
}

.center-element {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-around-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.space-between-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.kitcy-button {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--primary-colour);
  color: white;
}

.bottom-navbar {
  background-color: black;
}
