@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500&display=swap");

:root {
  --primary-colour: #069c54;
  --secondary-colour: #ffcf27;
  --text-colour: #585858;
  --font-style: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  text-shadow: none;
}

a:link {
  text-decoration: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.p,
.p1,
.p2,
.p3,
.header-title {
  font-family: "Poppins", sans-serif;
  color: #585858 !important;
}

.body {
  background-color: white !important;
  height: 100vh !important;
}

img {
  object-fit: contain;
  padding: 2px;
}

.heading1 {
  font-size: 24px;
  color: var(--text-colour);
  font-style: var(--font-style);
  /* left: -6%;
  position: relative; */
}

.subheading1 {
  font-size: 15px;
  color: var(--text-colour);
  font-style: var(--font-style);
}

.heading2 {
  font-size: 16px;
  color: var(--text-colour);
  font-style: var(--font-style);
  /* left: 13%;
  position: relative; */
}

.heading3 {
  font-size: 13px;
  color: var(--text-colour);
  font-style: var(--font-style);
}

.para2 {
  font-size: 14px;
  color: var(--text-colour);
  font-style: var(--font-style);
}

.para {
  font-size: 11px;
  color: white;
  font-style: var(--font-style);
}

.center-element {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-around-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.space-between-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.kitcy-button {
  padding: 18px;
  border-radius: 8px;
  background-color: var(--primary-colour);
  color: white;
  border: none;
  width: 320px;
}

.kitcy-button-2 {
  padding: 12px;
  border-radius: 8px;
  background-color: var(--primary-colour);
  color: white;
  border: none;
  width: 280px;
}

.kitcy-button-2:disabled {
  padding: 12px;
  border-radius: 8px;
  background-color: gray;
  color: white;
  border: none;
  width: 280px;
}

.filter-button {
  padding: 5px;
  border-radius: 5px;
  background-color: white;
  border: 2px solid var(--primary-colour);
  font-size: 12px;
  color: var(--primary-colour);
}

.bottom-navbar {
  background-color: black;
}

.bold {
  font-weight: 650;
}

.xl {
  font-size: 36px;
}

.footer {
  background-color: var(--text-colour);
  border-radius: 15px;
}

.navbar {
  font-family: "Poppins";
  background-color: #ffffff !important;
  border-top: 1px solid #ddd;
  width: auto;
  justify-content: space-evenly;
}

.navbar .ui-btn {
  font-family: "Poppins";
  color: #929292 !important;
  font-size: 10px !important;
  background-color: #ffffff !important;
  border: none !important;
  text-shadow: none !important;
  padding: 15px !important;
}

.navbar .ui-button-active {
  font-family: "Poppins";
  color: #fd5800 !important;
  font-size: 10px;
}

.navbar .navbar-icon {
  height: 25px;
  margin: 5px 0;
}

.ui-content {
  padding: 20px !important;
}

.location-add-panel {
  background-color: #ffffff;
  min-height: 140px;
  align-items: baseline;
}

.info-card {
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 5px;
}

.food-card-2 .card-img-top {
  border-radius: 2px !important;
  top: -50px;
  background-color: none !important;
}

.food-card-2 .card-body {
  padding: 20px 0;
}

.food-card-2 .p1 {
  font-size: 16px;
}

.food-card-2 .p2 {
  font-size: 12px;
  line-height: 12px;
}

.food-card-2 .p3 {
  font-size: 16px;
}

.yellow-stripe {
  position: absolute;
  object-fit: contain;
  width: 250px;
  margin-top: 60px;
}

.header-image {
  background-image: url(../assets/images/CathyDeserts.png);
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-image-food-item {
  background-image: url(../assets/images/BlueberryCheeseCake.png);
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-cart {
  background-image: url(../assets/images/GreenStripe.png);
  height: 180px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-order-image {
  background-image: url(../assets/images/OnGoingOrder.png);
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  background-color: white !important;
  border: none !important;
}

.icon {
  font-size: 40px;
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-top: 280px;
}
.quantity__minus {
  display: flex;
  width: 20px;
  height: 20px;
  margin: 0;
  background-color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 20px;
  border-radius: 30px 0 0 30px !important;
}
.quantity__plus {
  display: flex;
  width: 20px;
  height: 20px;
  margin: 0;
  background-color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 20px;
  border-radius: 0 30px 30px 0 !important;
}
.quantity__minus:hover,
.quantity__plus:hover {
  background: #fff;
  color: #000;
}
.quantity__minus {
  border-radius: 3px 0 0 3px;
  background: #fff !important;
}
.quantity__plus {
  border-radius: 0 3px 3px 0;
}

.ui-input-text,
.ui-input-search {
  margin: 0px;
}
.quantity__input {
  width: 70px !important;
  text-align: center !important;
  background: #fff !important;
  color: #000 !important;
  padding: 20px !important;
  font-family: "Poppins" !important;
  font-size: 23px !important;
  height: 20px !important;
  border-radius: 0 !important;
  margin: 0 !important;
  border: none;
}
.quantity__minus:link,
.quantity__plus:link {
  color: #000;
}
.quantity__minus:visited,
.quantity__plus:visited {
  color: #000;
}
.rate-container {
  float: left !important;
  height: 46px !important;
}
.rate-container:not(:checked) > input {
  position: absolute !important;
  top: -9999px !important;
}
.rate-container:not(:checked) > label {
  float: right !important;
  width: 1em !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  cursor: pointer !important;
  font-size: 30px !important;
  color: #ccc !important;
}
.rate-container:not(:checked) > label:before {
  content: "★ " !important;
}
.rate-container > input:checked ~ label {
  color: #ffc700 !important;
}
.rate-container:not(:checked) > label:hover,
.rate-container:not(:checked) > label:hover ~ label {
  color: #deb217 !important;
}
.rate-container > input:checked + label:hover,
.rate-container > input:checked + label:hover ~ label,
.rate-container > input:checked ~ label:hover,
.rate-container > input:checked ~ label:hover ~ label,
.rate-container > label:hover ~ input:checked ~ label {
  color: #c59b08 !important;
}

.icon-green {
  background-color: var(--primary-colour);
  border-radius: 9px;
  padding: 8px;
}

.kitcy-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid lightgray;
}

.fav-list {
  width: 8rem !important;
}

.list-group-item .p1 {
  font-size: 13px;
  line-height: 11px;
}
.list-group-item .p2 {
  font-size: 11px;
  line-height: 11px;
}

.green-order {
  border-bottom: var(--primary-colour) 2px solid;
}

/* Quantity adjuster */

.minus {
  background-color: var(--primary-colour) !important;
  color: white !important;
  border: none !important;
  text-shadow: none !important;
  border-radius: 5px;
  padding: 5px;
}

.plus {
  background-color: var(--primary-colour) !important;
  color: white !important;
  border: none !important;
  text-shadow: none !important;
  border-radius: 5px;
  padding: 5px;
}

.item-qty {
  display: flex;
  align-items: center;
  width: 150px;
}

.kitcy-input-2 {
  background-color: transparent;
  border: none;
  width: 30px;
}

/* Nav Bar */
.ui-grid-d > .ui-block-a,
.ui-grid-d > .ui-block-b,
.ui-grid-d > .ui-block-c,
.ui-grid-d > .ui-block-d {
  width: 25% !important;
  background-color: white !important;
  padding: 10px;
}

.ui-btn {
  background-color: white !important;
  border: none !important;
}

.search-input {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url("../assets/icons/search-grey.svg");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

.search-result {
  border-bottom: 2px solid var(--primary-colour);
  margin-top: 20px;
}

.search-result > p {
  line-height: 10px;
}

.details {
  line-height: 11px;
}

/* POPUPS */

.rectangle {
  width: 200px;
  background: #ffffff;
  border-radius: 10px;
  text-align: center !important;
  box-shadow: none;
}

.popup-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  /* identical to box height */
  line-height: 36px;

  color: #585858;
}

.popup-content {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #585858;
}

.popup-submit-btn {
  text-shadow: none !important;
  color: #fff !important;
  background-color: #069c54 !important;
  border-radius: 10px;
  width: 150px;
  margin: 0 auto;
  margin-top: 20px;
}

.popup-img {
  display: inline-block;
}

.popup-confirm {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #585858;
  padding: 20px;
}

.popup-confirm-btn {
  text-shadow: none !important;
  color: #fff !important;
  background-color: #069c54 !important;
  border-radius: 10px;
  margin: 0 auto;
  display: inline-block;
  width: auto;
}

.popup-cancel-btn {
  text-shadow: none !important;
  color: #069c54 !important;
  border: 2px solid #069c54 !important;
  border-radius: 10px !important;
  margin: 0 auto;
  display: inline;
  display: inline-block;
  width: auto;
}

.ui-btn-active {
  border-top: 3px solid var(--primary-colour) !important;
  padding-top: 10px !important;
}

.incerement-button {
  color: white;
  background-color: var(--primary-colour);
  border: none;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 10px;
}

/* Account */

.container-fluid {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #585858;
}

.account-header {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.account-dp {
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  height: 65px;
  width: 65px;
  margin: 10px;
}

/* Land Scape */

@media screen and (orientation: landscape) {
  .section-1 {
    display: flex;
    flex: 0.5;
    flex-direction: column;
  }

  .section-2 {
    display: flex;
    flex: 0.5;
    flex-direction: column;
  }

  .filters-content {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (orientation: landscape) {
  .section-rating-1 {
    display: flex;
    flex-direction: column;
  }

  .rate-container {
    display: flex;
    flex-direction: column;
  }

  .rating-section {
    display: flex;
    flex-direction: row;
  }
}


/* Shazni */
/* Cart */
/* center-element text-white" style="font-size: 23px */
/* font-family: "Poppins", sans-serif; color: #585858 !important; */
@media screen and (orientation: landscape) {
  .heading1 {
    left: -18%;
  }
  
  .heading2 {
    left: 16%;
  }
}
/* Ipad version-1 */
@media screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .fav-list{
    margin-left: 7%;
    margin-top: 5%;
  }
  .list-group-item .p1 {
    font-size: 18px;
    margin-left: -63%;
    margin-top: 8%;
    line-height: 20px;
  }
  .list-group-item .p2 {
    font-size: 14px;
    margin-left: -63%;
    margin-top: 2%;
    line-height: 20px;
  }
  .list-group-item .p3 {
    font-size: 18px;
    margin-left: 1%;
    margin-top: -12%;
    line-height: 20px;
  }
  .incerement-button {
    margin-left: 53%;
    top: -107%;
    position: relative;
    left: 100%;
  }
  .kitcy-input-2 {
    position: relative;
    top: -105%;
    left: 115%;
  }
  .ai-trash-can{
    position: relative;
    top: -105%;
    left: 800%;
  }
  .heading2{
    margin-left: 8%;
    margin-top: 40%;
  }
  .heading1{
    left: -21%;
    position: relative;
    margin-top: 40%;
  }
  .kitcy-button {
    padding: 18px;
    border-radius: 8px;
    background-color: var(--primary-colour);
    color: white;
    border: none;
    width: 820px;
}
}
/* Ipad version-2 */
@media screen and (min-device-width: 1355px) and (max-device-width: 1355px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .fav-list{
    margin-left: 46%;
    margin-top: 2%;
  }
  .list-group-item .p1 {
    font-size: 18px;
    margin-left: -35%;
    margin-top: 8%;
    line-height: 20px;
    top: -16%;
    position: relative;
  }
  .list-group-item .p2 {
    top: -24%;
    font-size: 14px;
    margin-left: -63%;
    margin-top: 2%;
    line-height: 20px;
    position: relative;
    left: 28%;
  }
  .list-group-item .p3 {
    font-size: 18px;
    margin-left: 2%;
    margin-top: -12%;
    line-height: 20px;

  }
  .heading2{
    margin-left: 0%;
    margin-top: -10%;
  } 
  .heading1{
    left: -24%;
    position: relative;
    margin-top: -10%;
  }
  .kitcy-button {
    padding: 18px;
    border-radius: 8px;
    background-color: var(--primary-colour);
    color: white;
    border: none;
    width: 330px;
    margin-left: -74px;
    margin-top: -48px;
}
}

/* Checkout */
/* @media screen and (orientation: landscape) {
  .heading1 {
    left: -18%;
  }
  
  .heading2 {
    left: 16%;
  }
} */

/* DeliveryLocation */





