.radio-tile-group
  .input-container
  .radio-button:checked
  + .radio-tile
  .radio-tile-label {
  color: white;
  background-color: #069c54;
}

/*  */

.ui-page-theme-a .ui-btn.ui-btn-active,
html .ui-bar-a .ui-btn.ui-btn-active,
html .ui-body-a .ui-btn.ui-btn-active,
html body .ui-group-theme-a .ui-btn.ui-btn-active,
html head + body .ui-btn.ui-btn-a.ui-btn-active,
.ui-page-theme-a .ui-checkbox-on:after,
html .ui-bar-a .ui-checkbox-on:after,
html .ui-body-a .ui-checkbox-on:after,
html body .ui-group-theme-a .ui-checkbox-on:after,
.ui-btn.ui-checkbox-on.ui-btn-a:after,
.ui-page-theme-a .ui-flipswitch-active,
html .ui-bar-a .ui-flipswitch-active,
html .ui-body-a .ui-flipswitch-active,
html body .ui-group-theme-a .ui-flipswitch-active,
html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active,
.ui-page-theme-a .ui-slider-track .ui-btn-active,
html .ui-bar-a .ui-slider-track .ui-btn-active,
html .ui-body-a .ui-slider-track .ui-btn-active,
html body .ui-group-theme-a .ui-slider-track .ui-btn-active,
html body div.ui-slider-track.ui-body-a .ui-btn-active {
  background-color: #069c54 !important;
  border-color: #069c54 !important;
  color: #fff !important;
}

.ui-page-theme-a .ui-radio-on:after,
html .ui-bar-a .ui-radio-on:after,
html .ui-body-a .ui-radio-on:after,
html body .ui-group-theme-a .ui-radio-on:after,
.ui-btn.ui-radio-on.ui-btn-a:after {
  border-color: #069c54 !important;
}

.filter-submit-btn {
  color: white !important;
  background-color: #069c54 !important;
  font-family: "Poppins", sans-serif !important;
  font-weight: 300 !important;
  font-size: 14px !important;
  border: none !important;
  border-radius: 10px !important;
}

.ui-btn,
label.ui-btn {
  font-weight: 400 !important;
  font-size: 14px !important ;
}

#filter {
  box-shadow: none;
  margin-top: 30px;
}

@media screen and (min-device-width: 844px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  #filter {
    margin-top: 60px;
    width: 820px;
  }
}

@media screen and (min-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  #filter {
    width: 1000px;
  }

  fieldset {
    margin-top:55px !important;
    margin-bottom:55px !important;    
  }

}

@media screen and (min-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  #filter {
    width: 1330px;
  }

  fieldset {
    margin-top:55px !important;
    margin-bottom:55px !important;    
  }
}
