@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500&display=swap");

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.p,
.p1,
.p2,
.header-title {
  font-family: "Poppins", sans-serif;
  color: #585858 !important;
}

.list-group-item, .list-group-item .a{
  font-weight: 300 !important;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  text-decoration: none;

}
.h2 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  text-align: center;
}
.header {
  box-shadow: 0px -2px 20px rgba(88, 88, 88, 0.1);
  border-bottom: none !important;
}
.header .img {
  float: right;
}

.header-title {
  margin-bottom: 0 !important;
  font-size: 14px;
  text-align: center;
}

.p1,
.p2 {
  font-style: normal;
  font-weight: 500;
}
.p1 {
  color: #585858 !important;
}

.p2 {
  color: #808080 !important;
}

.food-card-1 .p1 {
  font-size: 13px;
}

.food-card-1 .p2 {
  font-size: 11px;
}

.food-card-1 {
  border-radius: 15px !important;
  border: none !important;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  width: 15rem;
}

.food-card-1 .card-img-top {
  border-radius: 15px !important;
}

.food-card-2 {
  border-radius: 5px !important;
  border: none !important;
}

.food-card-2 .card-img-top {
  border-radius: 2px !important;
  top: -50px;
  background-color: none !important;
}

.food-card-2 .card-body {
  padding: 20px 0;
}

.food-card-2 .p1 {
  font-size: 16px;
}

.food-card-2 .p2 {
  font-size: 12px;
  line-height: 12px;
}

.fav-list {
  width: 8rem !important;
}

.list-group-item .p1 {
  font-size: 13px;
  line-height: 11px;
}
.list-group-item .p2 {
  font-size: 11px;
  line-height: 11px;
}

.ai-trash-can {
  color: red;
}

.category-card-1 .p1 {
  font-size: 13px;
  font-weight: 300;
}

.category-card-1 {
  border-radius: 20px !important;
  border: none !important;
  box-shadow: 0px 5px 20px rgba(6, 156, 84, 0.25);
  width: 6rem;
  background-color: #069c54 !important;
}
.category-card-2 .p1 {
  font-size: 13px;
  font-weight: 300;
}

.category-card-2 {
  border-radius: 20px !important;
  border: none !important;
  box-shadow: 0px 5px 20px rgba(37, 42, 40, 0.25);
  width: 6rem;
}

.yellow {
  position: absolute;
  object-fit: cover;
  width: 240px;
  margin-top: 100px;
}

/* SHAZNI */

.search-menu {
  height: 105px;
  width: auto;
  background-color: #ffff;
}
.menu-img {
  position: relative;
  margin-top: 35px;
  margin-left: 36px;
  height: 23.38px;
  width: 33px;
}
.location-img {
  position: relative;
  margin-top: 35px;
  margin-left: 80px;
  height: 23.38px;
  width: 33px;
}
.location-txt {
  position: relative;
  font-family: "Poppins";
  font-size: 13px;
  margin-left: 190px;
  margin-top: -20px;
}
.filter-img {
  position: relative;
  height: 23.38px;
  width: 33px;
  margin-left: 335px;
  margin-top: -45px;
}
.cook-img {
  position: relative;
  margin-left: 69%;
  margin-top: -67px;
  height: 30px;
  width: 30px;
}
.elipse-img {
  position: relative;
  margin-left: 39%;
  height: 255px;
  width: -webkit-fill-available;
}
.search-img {
  position: relative;
  height: 15px;
  width: 15px;
  left: -79%;
}
.bdtext-1 {
  position: relative;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 24px;
  left: 7%;
  margin-top: -62%;
  width: 65%;
}
.favFood-input {
  position: relative;
  left: 6%;
  height: 52px;
  width: 335px;
  margin-top: -3%;
  border-radius: 10px;
  border-color: #585858;
}
.healty-img {
  position: relative;
  left: 4%;
  margin-top: 6%;
  width: 160px;
  height: 150px;
  margin-left: 10px;
}
.fav-block {
  margin-top: 0%;
}
.circle-2 {
  position: relative;
  width: 207px;
  height: 312px;
  margin-top: 225px;
}
.view-1 {
}

.view-img {
  position: relative;
  left: 6%;
  margin-top: 6%;
  width: 337px;
  height: 180px;
}
.foodName {
  position: relative;
  margin-left: 25px;
  margin-top: 8px;
  font-family: "Poppins";
  font-size: 16px;
  color: #585858;
}
.foodPrice {
  position: relative;
  margin-left: 300px;
  margin-top: -22px;
  font-family: "Poppins";
  font-size: 16px;
  color: #585858;
}
.foodDelivery {
  position: relative;
  margin-left: 26px;
  font-family: "Poppins";
  font-size: 12px;
  color: #808080;
}

.output {
  margin-left: 25px;
  margin-top: 35px;
}
.underline {
  color: #808080;
  width: 80%;
}
.output-txt {
  font-family: "Poppins";
  font-size: 14px;
  color: #585858;
}
.res-block {
  margin-top: 7%;
}
.res-img {
  position: relative;
  left: 4%;
  margin-top: 3%;
  width: 335px;
  height: 175px;
  margin-left: 10px;
  opacity: 80%;
}
.res-name {
  position: relative;
  font-family: "Poppins";
  font-weight: 200;
  font-size: 16px;
  color: white;
  margin-top: -16%;
  margin-left: 32%;
}
.res-type {
  position: relative;
  font-family: "Poppins";
  font-size: 12px;
  color: white;
  margin-top: 11px;
  margin-left: 9%;
}
.res-time {
  position: relative;
  font-family: "Poppins";
  font-size: 12px;
  color: white;
  margin-top: -17px;
  margin-left: 40%;
}
.star-img {
  position: relative;
  margin-left: 78%;
  margin-top: -44px;
  width: 10px;
  height: 10px;
}
.res-rate {
  position: relative;
  font-family: "Poppins";
  font-size: 12px;
  color: white;
  margin-top: -41px;
  margin-left: 82%;
}

/* About us  */
/* iphone porttrait */
.about-us-Logo{
  height:"250px";
  width:"250px";
  margin-top: 10px;
}
.about-us-text{
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 36px;
  color: #585858;
}
.video-about{
  margin-top: 31px;
    margin-bottom: 20px;
    max-width: 357px;
}
.about-us-scroll{
}
/* iphone landscape */ 
@media screen and (min-device-width: 844px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .video-about{
    max-width: 664px;
  }
}
/* Ipad version-1 */
@media screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .about-us-Logo{
    margin-top: 76px;
  }
  .about-us-text{
    margin-top: 32px;
  }
  .video-about{
    margin-top: 31px;
    margin-bottom: 73px;
    max-width: 960px;
  }
}
/* Ipad version-1 */
@media screen and (min-device-width: 1355px) and (max-device-width: 1355px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .video-about{
    max-width: 1161px;
  }
}



/* Acount  */
/* iphone porttrait */
.account-dp1{
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  height: 65px;
  width: 65px;
  margin: 10px;
  margin-left: 15px;
  border-radius: 50%;
  background-image: url('https://i.pinimg.com/736x/9c/91/e0/9c91e06b6538e8bb941314a25207835f.jpg');
}
.account-name{
  /* style="font-size: 20px" */
  font-size: 20px;
  font-family: 'Poppins';
}
.edit-account{
  /* style="font-size: 13px; color: #069c54" */
  font-size: 13px;
  color: #069c54;
  font-family: 'Poppins';
}
.account-txt-v1{
  font-size: 13px;
  color: #585858c2;
  font-family: 'Poppins';
  margin-left: -4%;
  margin-top: 2%;
}
.output1{
  font-size: 14px;
  font-family: 'Poppins';
  margin-bottom: 10px; 
  margin-left: -1%;
  margin-top: 2%;
}
.account-txt-v3{
  font-size: 13px;
  color: #585858c2;
  font-family: 'Poppins';
  /* margin-left: -4%; */
  margin-top: 2%;
}
.output2{
  font-size: 14px;
  font-family: 'Poppins';
  margin-bottom: 10px; 
  /* margin-left: -4%; */
}
.account-txt-v5{
  font-size: 13px;
  color: #585858c2;
  font-family: 'Poppins';
  /* margin-left: -4%; */
  margin-top: 2%;
}
.output3{
  font-size: 14px;
  font-family: 'Poppins';
  margin-bottom: 10px; 
  /* margin-left: -4%; */
}
.account-txt-v7{
  font-size: 13px;
  color: #585858c2;
  font-family: 'Poppins';
  /* margin-left: -4%; */
  margin-top: 2%;
}
.output4{
  font-size: 14px;
  font-family: 'Poppins';
  margin-bottom: 10px; 
  /* margin-left: -4%; */
}

.account-txt3{
  /* style="font-size: 15px; margin: 10px" */
  font-size: 15px;
  margin: 3px;
  font-family: 'Poppins';
  margin-top: 2%;
}

/* iphone landscape */ 
@media screen and (min-device-width: 844px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* .account-dp1{
    margin-top: 4%;
    margin-left: 48%;
  } */
  .account-txt-v1{
    margin-left: -1%;
    margin-top: -2%;
  }
  .output1{
    margin-left: 0.5%;
    margin-top: 0%;
  }
  .account-txt-v3{
    margin-left: 26.5%;
    margin-top: -6%;
  }
  .output2{
    margin-left: 26.5%;
    margin-top: 0%;
  }
  .account-txt-v5{
    margin-left: 0.5%;
    margin-top: 3%;
  }
  .output3{
    margin-left: 0.5%;
    margin-top: 0%;
  }
  .account-txt-v7{
    margin-left: 26.5%;
    margin-top: -6%;
  }
  .output4{
    margin-left: 26.5%;
    margin-top: 0%;
  }

  .set{
    margin-top: -28%;
    margin-left: 57%;
  }
  
  .account-txt3{
    font-size: 15px;
    margin: -5px;
  }
}

/* Ipad version-1 */
@media screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .lst1{
    margin-left: 47%;
  }
  .account-name{
    margin-left: -23%;
    margin-top: 20%;
  }
  .edit-account{
    margin-left: -22%;
  }
  .account-txt-v1{
    margin-left: 5%;
    margin-top: 3%;
    font-size: 20px;
  }
  .output1{
    margin-left: 6%;
    margin-top: 0%;
    font-size: 20px;
  }
  .account-txt-v3{
    margin-left: 6%;
    margin-top: 2%;
    font-size: 20px;
  }
  .output2{
    margin-left: 6%;
    margin-top: 0%;
    font-size: 20px;
  }
  .account-txt-v5{
    margin-left: 6%;
    margin-top: 2%;
    font-size: 20px;
  }
  .output3{
    margin-left: 5.5%;
    margin-top: 0%;
    font-size: 20px;
  }
  .account-txt-v7{
    margin-left: 6%;
    margin-top: 2%;
    font-size: 20px;
  }
  .output4{
    margin-left: 6%;
    margin-top: 0%;
    font-size: 20px;
  }

  .set{
    margin-top: 3%;
    margin-left: 6%;
  }
  
  .account-txt3{
    font-size: 25px;
    margin: 3px;
  }
}
/* Ipad version-2 */
@media screen and (min-device-width: 1355px) and (max-device-width: 1355px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .lst1{
    margin-left: 47%;
  }
  .account-name{
    margin-left: -18%;
    margin-top: 12%;
  }
  .edit-account{
    margin-left: -17%;
  }
  .account-txt-v1{
    margin-left: 5%;
    margin-top: 3%;
    font-size: 20px;
  }
  .output1{
    margin-left: 6%;
    margin-top: 0%;
    font-size: 20px;
  }
  .account-txt-v3{
    margin-left: 6%;
    margin-top: 2%;
    font-size: 20px;
  }
  .output2{
    margin-left: 6%;
    margin-top: 0%;
    font-size: 20px;
  }
  .account-txt-v5{
    margin-left: 6%;
    margin-top: 2%;
    font-size: 20px;
  }
  .output3{
    margin-left: 5.5%;
    margin-top: 0%;
    font-size: 20px;
  }
  .account-txt-v7{
    margin-left: 6%;
    margin-top: 2%;
    font-size: 20px;
  }
  .output4{
    margin-left: 6%;
    margin-top: 0%;
    font-size: 20px;
  }

  .set{
    margin-top: 3%;
    margin-left: 6%;
  }
  
  .account-txt3{
    font-size: 25px;
    margin: 3px;
  }
}















/* Footer  */
.ft-box {
  position: fixed;
  top: 70%;
  left: 6%;
  width: 340px;
  height: 215px;
  background-color: #585858;
  border-radius: 10px;
}
.ftLogo-img {
  width: 85px;
  height: 45px;
  left: 39%;
  position: fixed;
  top: 72%;
}
.ftText {
  position: relative;
  font-size: 14px;
  color: white;
  margin-top: 22%;
  margin-left: 7%;
  font-family: "Poppins";
}
.ftText-1 {
  position: relative;
  font-size: 14px;
  color: white;
  margin-top: -6%;
  margin-left: 71%;
  font-family: "Poppins";
}
.ft-img {
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 7%;
  margin-top: 2%;
}
.ftText-2 {
  position: relative;
  font-size: 13px;
  color: white;
  margin-top: -6%;
  margin-left: 15%;
  font-family: "Poppins";
}
.ft-img-1 {
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 0;
  margin-top: -13%;
  left: 71%;
}
.ft-img-2 {
  position: relative;
  width: 20px;
  height: 20px;
  margin-top: 2%;
  left: -14%;
}
.ftText-3 {
  position: relative;
  font-size: 13px;
  color: white;
  margin-top: -6%;
  margin-left: 15%;
  font-family: "Poppins";
}
.ftText-4 {
  position: relative;
  font-size: 11px;
  color: white;
  margin-top: 8%;
  margin-left: 12%;
  font-family: "Poppins";
}
.ftText-5 {
  position: relative;
  font-size: 10px;
  color: white;
  margin-top: 0%;
  margin-left: 26%;
  font-family: "Poppins";
}
.footer-2{
  margin-top: 115%;
}

@media screen and (min-device-width: 844px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .menu-img {
    margin-left: 25;
  }
  .location-img {
    /* position: relative; */
    /* margin-top: 35px; */
    margin-left: 30%;
    /* height: 23.38px; */
    /* width: 33px; */
  }
  .location-txt {
    /* position: relative; */
    /* font-family: 'Poppins'; */
    /* font-size: 13px; */
    margin-left: 43%;
    /* margin-top: -20px; */
  }
  .filter-img {
    /* position: relative;
      height: 23.38px;
      width: 33px; */
    margin-left: 90%;
    /* margin-top: -45px; */
  }
  .cook-img {
    /* position: relative; */
    margin-left: 61%;
    /* margin-top: -67px;
      height: 30px;
      width: 30px; */
  }
  .elipse-img {
    margin-left: 73%;
    height: 170px;
    width: 231px;
  }
  .circle-2 {
    /* position: relative; */
    width: 170px;
    height: 250px;
    margin-top: 365px;
  }
  .search-img {
    /* position: relative;
      height: 15px;
      width: 15px; */
    left: -79%;
  }
  .bdtext-1 {
    position: relative;
    font-family: "Poppins";
    font-weight: bold;
    font-size: 24px;
    left: 9%;
    margin-top: -19%;
  }
  .favFood-input {
    left: 8%;
    width: 675px;
    margin-top: -4%;
  }
  .fav-block {
    margin-top: 0%;
    width: 82%;
    /* margin-left: 4%; */
  }
  .healty-img {
    width: 214px;
    height: 150px;
  }
  .output {
    margin-left: 71px;
  }

  .view-1 {
    margin-left: -28px;
  }

  .view-img {
    /* position: relative; */
    left: 9%;
    margin-top: 4%;
    width: 337px;
    height: 180px;
  }
  .foodName {
    margin-left: 33px;
    margin-top: 8px;
  }
  .foodPrice {
    margin-left: 305px;
    margin-top: -22px;
    width: 74px;
  }
  .foodDelivery {
    margin-left: 32px;
  }
  .column {
    width: 200px;
    height: 200px;
    display: flex;
    flex: row;
    margin-left: 67px;
  }
  a:link {
    text-decoration: none;
  }
  .res-block {
    margin-top: 7%;
    margin-left: -10%;
  }
  .res-img {
    margin-right: 20px;
  }

  /* Footer css */
  .ft-box {
    position: relative;
    margin-top: 7%;
    left: 3%;
    width: 791px;
    height: 215px;
  }
  .ftLogo-img {
    position: relative;
    left: 43%;
    margin-top: -27%;
    width: 126px;
    height: 66px;
  }
  .ftText {
    position: relative;
    font-size: 18px;
    margin-top: 3%;
    margin-left: 7%;
  }
  .ftText-1 {
    position: relative;
    font-size: 18px;
    margin-top: -3%;
    margin-left: 81%;
  }
  .ft-img {
    position: relative;
    width: 20px;
    height: 20px;
    margin-left: 7%;
    margin-top: 2%;
  }
  .ftText-2 {
    position: relative;
    font-size: 14px;
    margin-top: -3%;
    margin-left: 12%;
  }
  .ft-img-1 {
    position: relative;
    width: 30px;
    height: 30px;
    margin-left: 0;
    margin-top: -6%;
    left: 81%;
  }
  .ft-img-2 {
    position: relative;
    width: 20px;
    height: 20px;
    margin-top: 2%;
    left: -6%;
  }
  .ftText-3 {
    position: relative;
    font-size: 14px;
    margin-top: -3%;
    margin-left: 12%;
  }
  .ftText-4 {
    position: relative;
    font-size: 11px;
    margin-top: 3%;
    margin-left: 35%;
  }
  .ftText-5 {
    position: relative;
    font-size: 10px;
    margin-top: 0%;
    margin-left: 42%;
  }
  
  .list-group-item .a{
    font-style: 300;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600 !important;
    font-size: 24px;
    line-height: 21px;
    text-decoration: none;

  }
}


/* Ipad version-1 */
@media screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .bdtext-1{
    margin-top: -23%;
    font-size: 36px;
    font-weight: bold;
  }
  .cook-img {
    /* position: relative; */
    margin-left: 71%;
    margin-top: -90px;
    height: 60px;
    width: 60px;
  }
  .elipse-img {
    /* position: relative; */
    margin-left: 82%;
    height: 257px;
    /* width: -webkit-fill-available; */
  }
  .favFood-input {
    /* position: relative; */
    left: 7%;
    /* height: 52px; */
    width: 860px;
    /* margin-top: -3%; */
    /* border-radius: 10px; */
    /* border-color: #585858; */
  }
  .healty-img {
    /* position: relative; */
    left: 1%;
    margin-top: 6%;
    width: 401px;
    height: 300px;
    /* margin-left: 10px; */
  }
  .fav-block {
    margin-left: 1%;
    overflow: scroll;
    width: 1024px;
    height: 600px;
  }
}