.toast:not(.show) {
    display: inline-block !important;
}

.toast-close {
    color: #FFCF27 !important;
    text-decoration: none !important;
    font-weight: normal !important;
    float: right;
}

.toast {
    background: #585858;
    border-radius: 10px;
    box-shadow: none;
    float: left;
    bottom: 50px;
}

#toast-area {
    position: fixed;
    bottom: 0;
    right: 0;

}



